body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.employerLogo {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
}

.cardLogo {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  float: right;
}

.button-spacing {
  margin-top: 0.50rem !important;
  margin-bottom: 0.50rem !important;
  margin-left: 0.50rem !important;
  margin-right: 0.50rem !important;
}

.box {
  border-style: solid;
  border-width: medium;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.form-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-padding {
  padding-top: 8px;
}

.profile-buttons {
  margin-top: 0.50rem !important;
  margin-bottom: 0.50rem !important;
}


